<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="homeBox">
        <a href="/register">Registration</a>
        <a href="/login">Login</a>
    </div>
</body>
</html>