<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="registerBox">
        <form class="formBox" action="/users" method="post">
        <input placeholder="Enter Name" type="text" name="name">
        <input placeholder="Enter Email" type="text" name="email">
        <input placeholder="Enter Password" type="password" name="password">
        <button type="submit">Register</button>
    </form>
    </div>
</body>
</html>